h1,h2{
  text-align: center;
}

ul{
  display: flex;
  justify-content: center;
  /* flex-direction: column; */
}

ul li {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  padding: 5px;
  font-size: 20px;
}

/* ---section--- */
.container{
  max-width: 850px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  min-width: 220px;
}

.image-details{
  height: 70vh;
}

.image-container{
  max-width: 850px;
  margin: 0 auto;
  text-align: center;
}